<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Askzuma_pkg.Find_Shop</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PWBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidEmailPW</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidPW</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DataIn_FindShop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EmailBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>scroll</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidEmailPW</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EmailPwBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>valueEnter</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
