<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="869769">  <td>21/05/24 14:28:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Find_Shop.DataIn_FindShop()[pri:9, instance:Askzuma_pkg.Find_Shop@d6e7bab]">DataIn_FindShop</td> 
  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>21/05/24 14:25:50</td>   <td>-131914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignIn.EmailBlank()[pri:1, instance:Askzuma_pkg.Find_Shop@d6e7bab]">EmailBlank</td> 
  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>21/05/24 14:25:40</td>   <td>-141198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignIn.EmailPwBlank()[pri:0, instance:Askzuma_pkg.Find_Shop@d6e7bab]">EmailPwBlank</td> 
  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>21/05/24 14:26:33</td>   <td>-88346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignIn.InvalidEmail()[pri:4, instance:Askzuma_pkg.Find_Shop@d6e7bab]">InvalidEmail</td> 
  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>21/05/24 14:26:17</td>   <td>-104959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignIn.InvalidEmailPW()[pri:3, instance:Askzuma_pkg.Find_Shop@d6e7bab]">InvalidEmailPW</td> 
  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>21/05/24 14:26:50</td>   <td>-71694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignIn.InvalidPW()[pri:5, instance:Askzuma_pkg.Find_Shop@d6e7bab]">InvalidPW</td> 
  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>21/05/24 14:26:04</td>   <td>-117487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignIn.PWBlank()[pri:2, instance:Askzuma_pkg.Find_Shop@d6e7bab]">PWBlank</td> 
  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>21/05/24 14:27:13</td>   <td>-48995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignIn.ValidEmailPW()[pri:6, instance:Askzuma_pkg.Find_Shop@d6e7bab]">ValidEmailPW</td> 
  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>21/05/24 14:28:24</td>   <td>22352</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignIn.afterClass()[pri:0, instance:Askzuma_pkg.Find_Shop@d6e7bab]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>21/05/24 14:28:29</td>   <td>27840</td> <td>&nbsp;</td><td title="&lt;&lt;Find_Shop.afterTest()[pri:0, instance:Askzuma_pkg.Find_Shop@d6e7bab]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>21/05/24 14:25:26</td>   <td>-155721</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignIn.beforeClass()[pri:0, instance:Askzuma_pkg.Find_Shop@d6e7bab]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>21/05/24 14:25:26</td>   <td>-155750</td> <td>&nbsp;</td><td title="&gt;&gt;Find_Shop.beforeTest()[pri:0, instance:Askzuma_pkg.Find_Shop@d6e7bab]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="919fcc">  <td>21/05/24 14:27:50</td>   <td>-11266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Home_Page.scroll()[pri:8, instance:Askzuma_pkg.Find_Shop@d6e7bab]">scroll</td> 
  <td>main@154319946</td>   <td></td> </tr>
<tr bgcolor="919fcc">  <td>21/05/24 14:27:25</td>   <td>-36444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Home_Page.valueEnter()[pri:7, instance:Askzuma_pkg.Find_Shop@d6e7bab]">valueEnter</td> 
  <td>main@154319946</td>   <td></td> </tr>
</table>
